<h1>Users</h1>
<div class="mb-5">
    <app-user-tab-bar (toggleCardView)="toggleCardView('changeView')">
    </app-user-tab-bar>
</div>
<div class="d-flex" *ngIf="isCardView">
    <ng-container *ngIf="users.length; else noUsers">
        <app-user-card-view *ngFor="let user of users" [user]="user" (deleteuser)="deleteuser($event)">
        </app-user-card-view>
    </ng-container>
    <ng-template #noUsers>Sono morti tutti</ng-template>
</div>
<app-list-view *ngIf="!isCardView" [users]="users" (deleteuser)="deleteuser($event)"></app-list-view>