<div class="row mb-4">
    <div class="col-1"></div>
    <div class="col">Name</div>
    <div class="col">Mail</div>
    <div class="col">Address</div>
    <div class="col">Orders:#</div>


</div>

<div class="row mb-2 single" *ngFor="let user of users">
    <div class="col-1">
        <img [src]="user.imageUrl" [alt]="user.id + 'imageUrl'">
    </div>
    <div class="col">{{ user.name }} {{ user.surname }}</div>
    <div class="col">{{ user.mail }}</div>
    <div class="col">{{ user.location.address }}, {{ user.location.city }}</div>
    <div class="col">{{ user.orders.length }}</div>
    <div class="col"><a href="{{ user.orders}}">View Orders</a></div>

    <div class="col"><button class="btn btn-primary" style="background-color: red;">Edit</button></div>
    <div class="col"><button class="btn btn-primary" (click)="deleteuser.emit(user.id)">Delete</button></div>

</div>